@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
img{
   width: 35pt;
   height: 35pt;
   align-items: center;
}
.container {
   display: inline-flex;
   flex-direction: row;
   row-gap: 2rem;
}

.container-fluid{
   padding: 2vh;
}
#middle{
   padding: 10vh;
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   margin: 0 0 0 30vw;
}
#title{
   text-align: center;
   justify-content: center;
   padding: 1vw;

}
.form-floating{
   vertical-align: bottom;
}
#weight{
   margin: 1.5vh;
   padding: 1vh
   
   
}
#height{
   padding: 1vh;
   margin: 2vh;

}