@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&family=Tektur&display=swap');
img{
   width: 35pt;
   height: 35pt;
   align-items: center;
}
.container {
   display: inline-flex;
   flex-direction: row;
   row-gap: 2rem;
}

.container-fluid{
   padding: 2vh;
   background: linear-gradient(to right,rgb(134, 212, 246),rgb(69,214,202) ,rgb(233, 248, 249) );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-justify: center;
}
#middle{
   background: linear-gradient( rgba(255, 250, 250, 0.2),rgba(79, 79, 79, 0.1) );
   backdrop-filter: blur(10px);
   padding: 10vh;
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   margin: 0 0 0 15vw;
}
#container{
   height: 40vw;
   width: 100vw;
}
#container > img{
   position: absolute;
   height: 100%;
   width: 100%;
   object-fit: cover;
   z-index: -1;

}

#title{
   font-family: 'Tektur', sans-serif;
   font-size: 4vw;
   text-align: center;
   justify-content: center;
   padding: 1vw;

}
.form-floating{
   vertical-align: bottom;
}
#weight{
   margin: 1.5vh;
   padding: 1vh;
   font-family: 'Rajdhani', sans-serif;
   font-family: 'Tektur', sans-serif;   
}
#height{
   padding: 1vh;
   margin: 2vh;
   font-family: 'Rajdhani', sans-serif;
   font-family: 'Tektur', sans-serif;
}
#output{
   margin: 1vw;
}
#intro{
   font-size: 100%;
}

#middle {
   color: rgb(192, 238, 242) ;
}