@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&family=Tektur&display=swap');
img{
   width: 35pt;
   height: 35pt;
   align-items: center;
}
.container {
   display: inline-flex;
   flex-direction: row;
   row-gap: 2rem;
}
nav{
   font-family:  Helvetica ;
   font-size: medium;
   

}
.d-inline-block align-text-top{
   justify-content: center;

}
.container-fluid{
   padding: 2vh;
   background: linear-gradient(to right,rgb(134, 212, 246),rgb(69,214,202) ,rgb(233, 248, 249) );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-justify: center;
}
#middle{
   background: linear-gradient(to right ,rgba(255, 250, 250, 0.2),rgba(79, 79, 79, 0.1) );
   backdrop-filter: blur(5px);
   padding: 10vh;
   display: inline-flex;
   flex-direction: column;
   align-items: center;
  
}
#container{
   height: 40vw;
   width: 100vw;
}
#container > img{
   position: absolute;
   height: 100%;
   width: 100%;
   object-fit: cover;
   z-index: -1;

}

#title{
   font-family: 'Tektur', sans-serif;
   font-size: 4vw;
   text-align: center;
   justify-content: center;
   padding: 1vw;

}
.form-floating{
   vertical-align: bottom;
}
#weight{
   margin: 1.5vh;
   padding: 1vh;
   font-family: 'Rajdhani', sans-serif;
   font-family: 'Tektur', sans-serif;  
   width: 20%; 
}
#height{
   padding: 1vh;
   margin: 2vh;
   font-family: 'Rajdhani', sans-serif;
   font-family: 'Tektur', sans-serif;
   width: 20%;
}
#output{
   margin: 1vw;
}
#intro{
   font-size: 100%;
}

#middle {
   color: rgb(192, 238, 242) ;
}
#footer {
   position: fixed;
   bottom: 0;
   width: 100%;
}
#middle{
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.form-floating{
   backdrop-filter: blur(10px);
   background-color: rgba(41, 39, 39,0.1);
}
#result{
   border: 1px solid rgb(192, 238, 242);
   padding: 10px;
   border-radius: 5px;
   font-style: bold;
}
@media screen and (max-width:481px){
   #title{
         font-size: 8vw;
         padding: 1px;
         margin-bottom: 6vw;
   }
   #intro{
      font-size: 3vw;
   }
   #output{
      margin: 15px;
   }
   #weight{
      width: 70%;
   }
   #height{
      width: 70%;
   }
   label{
      font-size: larger;
   }


}
